/**
 * This file is part of the savitskyi-hub/bx-helpers package.
 *
 * (c) Andrew Savitskyi <admin@savitskyi.com.ua>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Подготовленные стиле с примером структуры HTML кода для использования открывающего контента в виде табов
 *
 *	<div class="helpers-tabs">
 *		<input type="radio" name="#УНИКАЛЬНОЕ_НАЗВАНИЕ#" id="#УНИКАЛЬНЫЙ_ID#" class="helpers-tabs-radio">
 *		<div class="helpers-tabs-item"></div>
 *
 *		<input type="radio" name="#УНИКАЛЬНОЕ_НАЗВАНИЕ#" id="#УНИКАЛЬНЫЙ_ID#" class="helpers-tabs-radio">
 *		<div class="helpers-tabs-item"></div>
 *
 *		<div class="helpers-tabs-list">
 *			<label for="#УНИКАЛЬНЫЙ_ID#" class="helpers-tabs-label"></label>
 *			<label for="#УНИКАЛЬНЫЙ_ID#" class="helpers-tabs-label"></label>
 *		</div>
 *	</div>
 */

.helpers-tabs {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.helpers-tabs-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.helpers-tabs-label {
  border-bottom: 0 solid #48cf75;
  cursor: pointer;
}

.helpers-tabs-radio {
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0;
  opacity: 0;
  /* Для примера реализовано только первые 2 таба */
}

.helpers-tabs-radio:checked + div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.helpers-tabs-radio:nth-of-type(1):checked ~ .helpers-tabs-list label:nth-of-type(1),
.helpers-tabs-radio:nth-of-type(2):checked ~ .helpers-tabs-list label:nth-of-type(2) {
  border-width: 1px;
}

.helpers-tabs-item {
  display: none;
}